
/* Default */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary: #c8a97e;
    --secondary: #666666;
  }


  /* === navbar ===*/
  .navbar {
      background: transparent !important;
      transition: all 0.5s;
  }

 
  .navbar.myActive {
      background: var(--primary) !important;
      transition: all 0.5s;
  }

  .nav-link {
      color: #fff !important;
  }


  /* Hero */
  .hero {
      height: 100vh;
      width: 100%;
      background: rgba(0, 0, 0, 0.5) url('./assets/images/2.jpg') no-repeat;
      background-size: cover;
      background-position: center center;
      background-blend-mode: overlay;
      margin-top: -56px;
  }



